<ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <a routerLink="/friends" class="nav-link active" href="#">Home</a>
  </li>
  <li class="nav-item">
    <a routerLink="/friends" class="nav-link" href="#">Friends</a>
  </li>
  <li class="nav-item">
    <a routerLink="/players" class="nav-link" href="#">Player</a>
  </li>
  <li class="nav-item">
    <a routerLink="/games" class="nav-link" href="#">Games</a>
  </li>
  <li class="nav-item">
    <a routerLink="/sports" class="nav-link" href="#">Sports</a>
  </li>
</ul>
<router-outlet></router-outlet>
